body{
    width: 100%;
    margin: 0px;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    background-color: #7C68FA;
    margin-bottom: 15px;
}

h1{
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-decoration: none;
    font-size: 18px;
}

li{
    display: inline-block;
    list-style: none;
    margin-left: 10px;
}
.division{
    max-width: 50%;
    height: 830px;
}
main{
    display: flex;
}


input{
    margin-bottom: 10px;
    margin-left: 10px;
}

.conponents{
    display: grid;
    grid-template-columns: repeat(3, auto);
}

#product{
    width: 95%;
    height: 25px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(231, 231, 231);
    border: solid 1px gray;
    border-radius: 3px;
    margin-left: 10px;
    padding: 0px;
}   

.div1{
    min-width: 50%;
    max-width: 50%;
}
.div2{
    min-width: 45%;
    max-width: 50%;
}

#amount{
    width: 95%;
    height: 25px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(231, 231, 231);
    border: solid 1px gray;
    border-radius: 3px;
}
#tax-value{
    width: 95%;
    height: 25px;
    font-size: 15px;
    background-color: rgb(231, 231, 231);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 1px gray;
    border-radius: 3px;
}
#unit-price{
    width: 84%;
    background-color: rgb(231, 231, 231);
    height: 25px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 1px gray;
    border-radius: 3px;
}
form{
    width: 100%;
}

.add-product{
    background-color:  #7C68FA;
    width: 95.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;
    border: solid 1px gray;
    border-radius: 3px;
    margin-left: 10px;
}
.add-product:hover{
    cursor: pointer;
    transition: 1s;
    color: #7C68FA;
    border: solid 1px#7C68FA;
    background-color: white;
}

.tax-carrinho input{
    border: none;
}

.total-carrinho input{
    border: none;
}

.cancel{
    width: 250px;
    height: 30px;
    margin-right: 10px;
    border: solid 1px gray;
    border-radius: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.cancel:hover{
    cursor: pointer;
    transition: 1s;
    color: #da5959;
    border: solid 1px #da5959;
    background-color: white;
}

.finish{
    width: 250px;
    height: 30px;
    background-color:  #7C68FA;
    border: solid 1px gray;
    border-radius: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.finish:hover{
    cursor: pointer;
    transition: 1s;
    color: #7C68FA;
    border: solid 1px#7C68FA;
    background-color: white;
}

.delete{
    width: 100px;
    height: 30px;
    background-color:  #7C68FA;
    border: solid 1px gray;
    border-radius: 3px;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.delete:hover{
    cursor: pointer;
    transition: 1s;
    color: #7C68FA;
    border: solid 1px#7C68FA;
    background-color: white;
}

.views{
    width: 100px;
    height: 30px;
    background-color:  #7C68FA;
    border: solid 1px gray;
    border-radius: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.views:hover{
    cursor: pointer;
    transition: 1s;
    color: #7C68FA;
    border: solid 1px#7C68FA;
    background-color: white;
}

.check{
    display: flex;
    justify-content: end;
    margin-top: 40px;
}

.form-carrinho{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    min-width: 10%;
    max-width: 100%;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 10px;
    top: 31rem;
}
table {
    display: flex;
    min-width: 10%;
    max-width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
    border-collapse: collapse;
    border-top: none;
    font-family: sans-serif;
    font-size: 0.8rem;
  }
th,
td { 
    min-width: 10%;
    max-width: 100%;
    border: 1px solid rgb(160 160 160);
    border-top: none;
    border-left: none;
    padding: 20px 30px;
    align-items: center;
}