header{
    display: flex;
    align-items: center;
    background-color: #7C68FA;
    margin-bottom: 15px;
}

h1{
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-decoration: none;
    font-size: 18px;
}

li{
    display: inline-block;
    list-style: none;
    margin-left: 10px;
}
.division{
    height: 830px;
}
.container{
    display: inline flex;
}


input{
    margin-bottom: 10px;
    margin-left: 10px;
}

.conponents{
    display: grid;
    grid-template-columns: repeat(3, auto);
}

#product{
    width: 896px;
    height: 25px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(231, 231, 231);
    border: solid 1px gray;
    border-radius: 3px;
    padding: 0px;
    margin-right: 10px;
}   

.div1{
    display: flex;
    text-align:justify;
}

#amount{
    width: 500px;
    height: 25px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(231, 231, 231);
    border: solid 1px gray;
    border-radius: 3px;
}
#tax-value{
    width: 170px;
    height: 25px;
    font-size: 15px;
    background-color: rgb(231, 231, 231);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 1px gray;
    border-radius: 3px;
}
#unit-price{
    width: 150px;
    background-color: rgb(231, 231, 231);
    height: 25px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 1px gray;
    border-radius: 3px;
}
form{
    width: 930px;
}

.add-product{
    background-color:  #7C68FA;
    width: 900px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;
    border: solid 1px gray;
    border-radius: 3px;
    margin-left: 10px;
}

.tax-carrinho input{
    border: none;
}

.total-carrinho input{
    border: none;
}

.cancel{
    width: 250px;
    height: 30px;
    margin-right: 10px;
    border: solid 1px gray;
    border-radius: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.finish{
    width: 250px;
    height: 30px;
    background-color:  #7C68FA;
    border: solid 1px gray;
    border-radius: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.delete{
    width: 100px;
    height: 30px;
    background-color:  #7C68FA;
    border: solid 1px gray;
    border-radius: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.check{
    display: flex;
    justify-content: end;
    margin-top: 40px;
}

.form-carrinho{
    display: grid;
    justify-content: end;
    align-items: end;
    text-align: end;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 33.5rem;
}
table {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
    border-collapse: collapse;
    border-top: none;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 3px;
  }
th,
td { 
    border: 1px solid rgb(160 160 160);
    border-top: none;
    border-left: none;
    padding: 10px 50px;
    align-items: center;
}