table {
  display: flex;
  min-width: 10%;
  max-width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 10px;
  border-collapse: collapse;
  border-top: none;
  font-family: sans-serif;
  font-size: 0.8rem;
}
th,
td { 
  min-width: 10%;
  max-width: 100%;
  border: 1px solid rgb(160 160 160);
  border-top: none;
  border-left: none;
  align-items: center;
}
.table-history{
  min-width: 10%;
  max-width: 100%;
}



tbody{
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
  min-width: 10%;
  max-width: 100%;
}